* {
  /*outline: 1px solid red;*/
  box-sizing: border-box;
}
.App {
  display: flex;
  width: 100%;
  text-align: center;
}

.App-intro {
  font-size: large;
}

/*  Colors
---------------------*/
.list-bookshelves {color: green}
.list-books {color: tomato}

h1, h2, h3, h4 {
  margin: 0;
}
a {
 text-decoration: none;
}
ul {
 list-style: none;
}

li {
  display: inline;
}
/*  Header
-------------------- */
.App-header {
  background-color: #BFBAA3;
  font-size: 2.4em;
  padding: 20px;
  font-family: Melo-Regular;
  color: #FFFFFF;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/*  Book shelf
-------------------- */
.list-bookshelves {
  width: 94%;
  height: 100%;
  background-color: #F9F0E9;
}

.list-bookshelves-top{
  /* currently REading: */
  font-family: Melo-Regular;
  font-size: 36px;
  color: #000000;
  background-color: white;
  width: 99%;
  height: 90%;
  text-align: left;
  padding-left: 20px;

}

.bookshelf-list{
  display: flex;
  flex-direction: column;
}

.bookshelf-list-item{

}

.bookshelf-title{

}



/*  Book List
-------------------- */
.list-books {

}

.book-list{
  display: flex;
  flex-flow: row wrap;
  }

.book-list-item{
  background-color: #BFBAA3;
  width: 160px;
  height: 220px;
  margin: 20px;
  padding: 8px;
  border-radius: 0 0 4px 4px;
}

.book-cover {
   width: 100%;
   height: 130px;
}

.book-title{
  font-family: AbadiMT-CondensedExtraBold;
  font-size: 12px;
  color: #000000;
  padding: 8px 4px;
  background-color:white;
}

.book-author{
  font-family: AbadiMT-CondensedLight;
  font-size: 12px;
  color: #000000;
  padding: 0px 4px 8px 4px;
  background-color:white;

}

.book-menu{
}


/*  Search
-------------------- */


